.list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%; 
}

.message {
    font-size: large;
    padding: 12px;
    border-radius: 15px;
    margin: 8px 0;
    max-width: 40%; /* Adjusted max-width */
    word-wrap: break-word; /* Wrap long words */
    overflow-wrap: break-word; /* Wrap long words for browser compatibility */
    margin-bottom: 1px; /* Adjust the margin here */
}

.incoming {
    background-color: #f0f0f0;
    align-self: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.outgoing {
    background-color: dodgerblue;
    color: #fff;
    align-self: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}
