.container {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 100vh;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 100vh;
  border-right: 1px solid #a0a0a0;
}  

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #a0a0a0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #a0a0a0;
}
